<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--以下标签严格按照顺序放置，否则会报错-->
<mapper namespace="com.zhangbin.dao.UserMapper">
    <select id="getUserById" resultType="User">
        select * from user where id = #{id}
    </select>
</mapper>